NET "clk" TNM_NET = "clk" | LOC="P94" | IOSTANDARD=LVTTL | PERIOD=31.25ns;
TIMESPEC "TS_CLK_IN1" = PERIOD "clk" 31.25 ns HIGH 50% INPUT_JITTER 312.5ps;

NET red(0) LOC = "P118"  | IOSTANDARD=LVTTL  ;
NET red(1) LOC = "P119"  | IOSTANDARD=LVTTL  ;
NET red(2) LOC = "P120"  | IOSTANDARD=LVTTL  ;
NET red(3) LOC = "P121"  | IOSTANDARD=LVTTL  ;
NET green(0) LOC = "P84"  | IOSTANDARD=LVTTL ; 
NET green(1) LOC = "P82"  | IOSTANDARD=LVTTL  ;
NET green(2) LOC = "P80"  | IOSTANDARD=LVTTL  ;
NET green(3) LOC = "P78"  | IOSTANDARD=LVTTL  ;
NET blue(0) LOC = "P99"  | IOSTANDARD=LVTTL  ;
NET blue(1) LOC = "P97"  | IOSTANDARD=LVTTL  ;
NET blue(2) LOC = "P92"  | IOSTANDARD=LVTTL  ;
NET blue(3) LOC = "P87"  | IOSTANDARD=LVTTL  ;

NET vsync LOC = "P116"  | IOSTANDARD=LVTTL  ;
NET hsync LOC = "P117"  | IOSTANDARD=LVTTL  ;

#NET reset LOC = "P37"  | IOSTANDARD=LVTTL  ;

NET leds(0)     LOC="P61"  | IOSTANDARD=LVTTL; 
NET leds(1)     LOC="P66"  | IOSTANDARD=LVTTL; 
NET leds(2)     LOC="P67"  | IOSTANDARD=LVTTL; 
NET leds(3)     LOC="P75"  | IOSTANDARD=LVTTL;    